<div class="chartCustomerDistribution">
  <canvas id="myChart"></canvas>
</div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [
          {{#each rows}}
            `{{this.Country}}`,
          {{/each}}
        ],
        datasets: [{
            label: 'Number of Custumers per Country',
            data: [
              {{#each rows}}
                {{this.count}},
              {{/each}}
          ],
            backgroundColor: [
                {{#each rows}}
                `rgba(${Math.floor(Math.random()*256)}, ${Math.floor(Math.random()*256)}, ${Math.floor(Math.random()*256)}, 0.5)`,
              {{/each}}
            ],
            hoverBackgroundColor: [
                {{#each rows}}
                `rgba(${Math.floor(Math.random()*256)}, ${Math.floor(Math.random()*256)}, ${Math.floor(Math.random()*256)})`,
              {{/each}}
            ]
        }]
    },
    options: {
        cutoutPercentage: 25
    }
});
</script>